/* -------------------       Cabecera y menu principal       --------------------------*/
body {
	background-color: #e8e6ed;
	
}

div.page-header h1 {
	margin-left: 2em;
}

.fondo-error {
	background-color: rgba(255,100,100,0.2);
}


.index-proyectos {

}


/*   --------------------------------  INDEX PROYECTOS            -----------------------------------*/

.btn-proyectos {
	margin-top: 1em;
}

.sobre-tabla {
	margin: 3em 0;
}